.t_login {
    width: 100vw;
    background: #f1f5f8;
    height: 100vh;
    display: flex;
}

.t_login_img {
    background: url("../../../assets/images/login.png");
    height: 100%;
    background-repeat: no-repeat;
    width: 50%;
    background-size: cover;
}

.t_login_form {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_login {
    font-family: "Monserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    text-align: center;
    margin-bottom: 24px;
}

.login_forms input {
    outline: none;
    width: 320px;
    height: 44px;
    background: #fff;
    border: 1px solid #d0d5dd;
    box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
    border-radius: 8px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    font-family: "Monserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    padding: 10px;
    margin-bottom: 16px;
}

.login_btn button {
    width: 134px;
    height: 44px;
    left: 93px;
    top: 363px;
    margin-top: 43px;
    font-family: "Monserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    border: 0;
    outline: none;
    background: #1c3faa;
    box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
    border-radius: 8px;

}

.login_btn {
    text-align: center;
}

@media (min-width: 992px) {
    .c-sidebar.c-sidebar-fixed {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 1030;
    }

    .c-sidebar {
        will-change: auto;
        -webkit-transition: margin-left .25s, margin-right .25s, width .25s, z-index 0s ease .25s, -webkit-box-shadow .25s, -webkit-transform .25s;
        transition: margin-left .25s, margin-right .25s, width .25s, z-index 0s ease .25s, -webkit-box-shadow .25s, -webkit-transform .25s;
        transition: box-shadow .25s, transform .25s, margin-left .25s, margin-right .25s, width .25s, z-index 0s ease .25s;
        transition: box-shadow .25s, transform .25s, margin-left .25s, margin-right .25s, width .25s, z-index 0s ease .25s, -webkit-box-shadow .25s, -webkit-transform .25s;
    }

    .c-sidebar {
        color: #fff;
        background: #3c4b64;
    }

    .c-sidebar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 340px;
        flex: 0 0 340px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        width: 340px;
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.c-sidebar .c-sidebar-brand {
    color: #fff;
    background-color: #1c60b1;
}

.c-sidebar .c-sidebar-brand, .c-sidebar .c-sidebar-header {
    background: rgba(0, 0, 21, .2);
}

.c-sidebar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 56px;
    flex: 0 0 56px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.ps[data-v-3738b722] {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

.c-sidebar-nav {
    background-color: #fff;
    color: #1c60b1;
}

.h-100 {
    height: 100% !important;
}

.c-sidebar-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
}

.ps {
    overflow: hidden !important;
    -ms-touch-action: auto;
    touch-action: auto;
    -ms-overflow-style: none;
    overflow-anchor: none;
}

.c-sidebar-nav-item {
    width: inherit;
}

.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-link.c-active, .c-sidebar .c-sidebar-nav-link.c-active .c-sidebar-nav-icon {
    color: #1c60b1;
}

.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-link.c-active {
    color: #fff;
    background: hsla(0, 0%, 100%, .05);
}

.c-sidebar .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon {
    color: #1c60b1;
}

.c-sidebar-nav-item .router-link-exact-active {
    color: #1c60b1;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-link {
    color: hsla(0, 0%, 100%, .8);
    background: transparent;
}

.c-sidebar-nav-dropdown-toggle, .c-sidebar-nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.8445rem 1rem;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: background .25s, color .25s;
    transition: background .25s, color .25s;
}

.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-link.c-active, .c-sidebar .c-sidebar-nav-link.c-active .c-sidebar-nav-icon {
    color: #1c60b1;
}

html:not([dir=rtl]) .c-sidebar-nav-icon:first-child {
    margin-left: -1rem;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon {
    color: #1c60b1;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon {
    color: hsla(0, 0%, 100%, .5);
}

.c-sidebar-nav-icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 56px;
    flex: 0 0 56px;
    height: 1.09375rem;
    font-size: 1.09375rem;
    text-align: center;
    -webkit-transition: .25s;
    transition: .25s;
    fill: currentColor;
}

svg {
    overflow: hidden;
}

.c-sidebar-nav {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
}

html:not([dir=rtl]) .c-sidebar-nav-icon:first-child {
    margin-left: -1rem;
}

.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle:hover .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-link.c-active:hover .c-sidebar-nav-icon {
    color: #1c60b1;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon {
    color: #1c60b1;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon {
    color: hsla(0, 0%, 100%, .5);
}

.c-sidebar-nav-icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 56px;
    flex: 0 0 56px;
    height: 1.09375rem;
    font-size: 1.09375rem;
    text-align: center;
    -webkit-transition: .25s;
    transition: .25s;
    fill: currentColor;
}

.c-sidebar-nav .c-sidebar-nav-dropdown-toggle, .c-sidebar-nav .c-sidebar-nav-title {
    color: #1c60b1;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon {
    color: #1c60b1;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle {
    position: relative;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-link {
    color: hsla(0, 0%, 100%, .8);
    background: transparent;
}

a:not([href]), a:not([href]):hover {
    color: inherit;
    text-decoration: none;
}

.c-sidebar-nav-dropdown-toggle {
    cursor: pointer;
}

.c-sidebar-nav-dropdown-toggle, .c-sidebar-nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.8445rem 1rem;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: background .25s, color .25s;
    transition: background .25s, color .25s;
}

c-sidebar-nav .c-sidebar-nav-dropdown-toggle, .c-sidebar-nav .c-sidebar-nav-title {
    color: #1c60b1;
}


.c-sidebar-nav-title {
    padding: 0.75rem 1rem;
    margin-top: 1rem;
    font-size: 80%;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: .25s;
    transition: .25s;
}

.c-sidebar-nav .c-sidebar-nav-dropdown-toggle, .c-sidebar-nav .c-sidebar-nav-title {
    color: #1c60b1;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-dropdown-toggle .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-link, .c-sidebar .c-sidebar-nav-link .c-sidebar-nav-icon {
    color: #1c60b1;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle {
    position: relative;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle, .c-sidebar .c-sidebar-nav-link {
    background: transparent;
}

a:not([href]), a:not([href]):hover {
    color: inherit;
    text-decoration: none;
}

.c-sidebar-nav-dropdown-toggle {
    cursor: pointer;
}

.c-sidebar-nav-dropdown-toggle, .c-sidebar-nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.8445rem 1rem;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: background .25s, color .25s;
    transition: background .25s, color .25s;
}

.dashboard li {
    list-style: none;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle:hover, .c-sidebar .c-sidebar-nav-link:hover {
    color: #fff;
    background-color: #1c60b1;
}

.c-sidebar .c-sidebar-nav-dropdown-toggle:hover .c-sidebar-nav-icon, .c-sidebar .c-sidebar-nav-link:hover .c-sidebar-nav-icon {
    color: #fff;
}

.c-sidebar .c-sidebar-minimizer {
    background-color: #1c60b1;
}

.c-sidebar .c-sidebar-minimizer {
    background-color: rgba(0, 0, 21, .2);
}


.c-sidebar-minimizer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: inherit;
    padding: 0;
    cursor: pointer;
    border: 0;
    background-color: rgba(0, 0, 21, .2);
}

.c-sidebar .c-sidebar-minimizer:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns= 'http://www.w3.org/2000/svg' viewBox= '0 0 11 14' %3E%3Cpath fill= '%238a93a2' d= 'M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z' /%3E%3C/svg%3E");
}

.c-sidebar-minimizer:before {
    display: block;
    width: 50px;
    height: 50px;
    content: "";
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 12.5px;
    -webkit-transition: .25s;
    transition: .25s;
}
.c-wrapper:not(.c-wrapper-fluid) .c-footer-fixed, .c-wrapper:not(.c-wrapper-fluid) .c-header-fixed, .c-wrapper:not(.c-wrapper-fluid) .c-subheader-fixed {
    position: relative;
}

.c-header.c-header-fixed {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-left: 340px;
}
.c-header {
    background: #fff;
    border-bottom: 1px solid #d8dbe0;
}
.c-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    min-height: 56px;
}
.c-header-toggler:not(:disabled):not(.c-disabled) {
    cursor: pointer;
}

.c-header .c-header-toggler {
    color: rgba(0,0,21,.5);
    border-color: rgba(0,0,21,.1);
}
.c-header-toggler:not(:disabled):not(.c-disabled) {
    cursor: pointer;
}

.c-header .c-header-toggler {
    color: rgba(0,0,21,.5);
    border-color: rgba(0,0,21,.1);
}
.c-header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 56px;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}
.c-header-toggler:not(:disabled):not(.c-disabled) {
    cursor: pointer;
}

.c-header .c-header-toggler {
    color: rgba(0,0,21,.5);
    border-color: rgba(0,0,21,.1);
}
.c-header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 56px;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}
.c-header .c-header-nav .c-header-nav-btn, .c-header .c-header-nav .c-header-nav-link {
    color: rgba(0,0,21,.5);
}
.c-header-nav .c-header-nav-btn, .c-header-nav .c-header-nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    text-decoration: none;
}
.dashboard{
    background-color: #ebedef;
    width: 100vw;
    height: 100vh;
}
.c-avatar-img {
    width: 100%;
    height: auto;
    border-radius: 50em;
}
.c-avatar {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50em;
    width: 36px;
    height: 36px;
    font-size: 14.4px;
}
.c-header-nav .c-header-nav-btn .badge, .c-header-nav .c-header-nav-link .badge {
    position: absolute;
    top: 50%;
    margin-top: -16px;
}

.ml-auto, .mx-auto, html:not([dir=rtl]) .mfs-auto {
    margin-left: auto!important;
}
.badge-primary {
    color: #fff;
    background-color: #321fdb;
}
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.c-header-nav .c-header-nav-btn .badge, .c-header-nav .c-header-nav-link .badge {
    position: absolute;
    top: 50%;
    margin-top: -16px;
}

.ml-auto, .mx-auto, html:not([dir=rtl]) .mfs-auto {
    margin-left: auto!important;
}
.badge-success {
    color: #fff;
    background-color: #2eb85c;
}
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.c-wrapper:not(.c-wrapper-fluid) .c-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
}

.c-body, .c-main {
    -webkit-box-flex: 1;
}
.c-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background-color: #ebedef;

    margin-left: 340px;
}
.c-main {
    padding-top: 2rem;
    margin-top: 60px;
    margin-left: 30px;
}

.sp-shadow {
    -webkit-box-shadow: 0 14px 24px rgb(0 0 0 / 4%);
    box-shadow: 0 14px 24px rgb(0 0 0 / 4%);
}
.sp-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all .33s cubic-bezier(.38,.8,.32,1.07);
    transition: all .33s cubic-bezier(.38,.8,.32,1.07);
}
.sp-card {
    background-color: #fff;
    height: 100%;
    border-radius: 12px;
    z-index: 1;
}
.sp-active {
    background-color: #e9ecf2;
}
.sp-active {
    background-color: #e9ecf2;
}
.sp-active {
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
.sp-tab {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 13px;
    padding: 8px 60px;
    border-radius: 12px;
    cursor: pointer;
}
.sp-table {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #fff;
    border-radius: 12px;
    padding: 0 12px 0 16px;
    margin-bottom: 8px;
}
.sp-field {
    display: grid;
    padding: 7px;
}

.sp-chip {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #fff;
    border-radius: 12px;
    margin-right: 9px;
    margin-left: 9px;
    margin-bottom: 7px;
    padding: 8px 12px;
    cursor: pointer;
}
.width_main{
    width: 100%;
}
